# macOS
.DS_Store
.AppleDouble
.LSOverride

# Neovim
nvim/lazy-lock.json
nvim/.luarc.json

# Fish
fish/fish_variables
fish/fishd.*

# Sensitive data
git/gitconfig.local
ssh/config
fish/config.local.fish
fish/functions/layouts/
*.backup
